#Python
__pycache__/
    *.pyc

#environment
.env
.vscode/


#Docker
*.log
*.out
*.err
*~

#IDEs
.vscode/
.idea/

#JSON
vision_cred.json

#pipfile
Pipfile


#Dockerfile
Dockerfile